@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

.header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.header__button {
  border: none;
  background: transparent;
}

.header__menu {
  display: none;
}

.header__link {
  display: inline;
}

.menu__mobile {
  position: absolute;
  left: 5%;
  top: 10%;
  background: #fff;
  width: 90%;
  border-radius: 4px;
}

.mobile__active {
  display: none;
}

.menu__mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.menu__mobile ul li {
  display: inline;
  padding: 0.8rem;
  z-index: 99;
}

.menu__mobile ul li a {
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

.menu__mobile ul li a:hover {
  color: hsl(7, 99%, 70%);
  text-decoration: underline;
}

.contact {
  margin-top: 0.8rem;
}

.menu__mobile .contact a {
  background: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  border-radius: 25px;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
}

.menu__mobile .contact:hover {
  color: hsl(7, 99%, 70%);
}

@media screen and (min-width: 1024px) {
  .header {
    background: transparent;
  }
  .header .header__button {
    display: none;
  }
  .header .header__menu {
    display: block;
  }
  .header .header__menu .header__link {
    display: inline;
  }
  .header .header__menu .header__link a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    font-family: "Barlow", sans-serif;
  }
  .header .header__menu .contact a {
    background: hsl(0, 0%, 100%);
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    border-radius: 25px;
  }
  .menu__mobile {
    display: none;
  }
}
.main {
  height: 65vh;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.main div {
  position: relative;
  top: 150px;
}
.main div img {
  margin-top: 2rem;
}

.main__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
}

@media screen and (min-width: 1024px) {
  .main {
    background-image: url("../images/desktop/image-header.jpg");
    background-repeat: no-repeat;
  }
}
.card {
  text-align: center;
}

.item-5 {
  width: 100%;
  height: 600px;
  background-image: url(../images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.item-5 div {
  text-align: center;
  padding-bottom: 3rem;
}
.item-5 .card__title, .item-5 .card__descriptions {
  color: hsl(167, 40%, 24%);
}

.item-6 {
  width: 100%;
  height: 600px;
  background-image: url(../images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.item-6 div {
  text-align: center;
  padding-bottom: 3rem;
}
.item-6 .card__title, .item-6 .card__descriptions {
  color: hsl(198, 62%, 26%);
}

.card__image {
  width: 100%;
}

.card__image-desktop {
  display: none;
}

.card__title {
  padding: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2rem;
}

.card__descriptions {
  padding: 0 2rem;
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  line-height: 1.8rem;
  font-size: 1rem;
}

.card__link {
  display: block;
  padding: 2rem 0 4rem 0;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Fraunces", serif;
  font-weight: 900;
  cursor: pointer;
}
.card__link span {
  padding: 0 0.5rem;
  border-bottom: 8px solid yellow;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 100%;
    text-align: left;
  }
  .card .card__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .card .card__content .item-1 {
    grid-column: 2;
    grid-row: 1;
  }
  .card .card__content .item-2 {
    grid-column: 1;
  }
  .card .card__content .item-5 {
    width: 100%;
    height: 515px;
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-size: cover;
  }
  .card .card__content .item-6 {
    width: 100%;
    height: 515px;
    background-image: url(../images/desktop/image-photography.jpg);
    background-size: cover;
  }
  .card .card__image {
    display: none;
  }
  .card .card__image-desktop {
    width: 100%;
    display: block;
  }
  .card .card__title, .card .card__descriptions, .card .card__link {
    margin: 0 3rem;
  }
  .card .card__title {
    font-size: 1.9rem;
  }
  .card .card__descriptions {
    font-size: 0.9rem;
  }
  .card .card__link {
    font-size: 1rem;
  }
}
.client {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.client h2 {
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  font-family: "Fraunces", serif;
  font-size: 1rem;
  text-align: center;
  padding: 4rem 0;
  letter-spacing: 5px;
}
.client .client__testimonials {
  text-align: center;
  padding: 2rem;
}
.client .client__testimonials img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.client .client__testimonials p {
  padding: 2rem 0;
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
}
.client .client__testimonials h3 {
  font-family: "Fraunces", serif;
  padding: 1rem;
}
.client .client__testimonials h4 {
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
  font-size: 0.9rem;
}

@media screen and (min-width: 1024px) {
  .client {
    display: block;
  }
  .client .client__content {
    display: flex;
    padding-bottom: 3rem;
  }
  .client h2 {
    width: 100%;
  }
}
.galery {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.galery .galery__image img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .galery {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
.footer {
  background: hsl(168, 34%, 41%);
  text-align: center;
  padding: 4rem 0;
}
.footer .footer__link ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 2rem 0;
}
.footer .footer__link ul li {
  list-style: none;
}
.footer .footer__link ul li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: hsl(167, 40%, 24%);
}
.footer .footer__midia ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 2rem 0;
}
.footer .footer__midia ul li {
  list-style: none;
}/*# sourceMappingURL=style.css.map */