.card {
    text-align: center;
}

.item-5 {
    
    width: 100%;
    height: 600px;
    background-image: url(../images/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
     
    div {
        text-align: center;        
        padding-bottom: 3rem;
    }

    .card__title, .card__descriptions {
        
        color: $dark-desaturated;
    }
    
}

.item-6 {
    width: 100%;
    height: 600px;
    background-image: url(../images/mobile/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
     
    div {
        text-align: center;        
        padding-bottom: 3rem;
    }
    .card__title, .card__descriptions {
        
        color: $dark-blue;
    }
}

.card__image {
    width: 100%;
}

.card__image-desktop {
    display: none;
}

.card__title {
    padding: 2rem;
    font-family: $fraunces;
    font-weight: 900;
    font-size: 2rem;
}

.card__descriptions {
    padding: 0 2rem;
    font-family: $barlow;
    color: $dark-grayish-blue;
    line-height: 1.8rem;
    font-size: 1rem;
}

.card__link {
    display: block;
    padding: 2rem 0 4rem 0;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $fraunces;
    font-weight: 900;
    cursor: pointer;
        span {
            padding: 0 .5rem;
            //box-shadow: 0 10px 10px -3px yellow;
            border-bottom: 8px solid yellow;
        }
}

@media screen and (min-width:1024px) {
    
    .card {
        width: 100%;
        text-align: left;
        
        .card__content {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            
            .item-1 {
                grid-column: 2;
                grid-row: 1;
            }
            .item-2 {
                grid-column: 1;
            }
            .item-5 {
                width: 100%;
                height: 515px;
                background-image: url(../images/desktop/image-graphic-design.jpg);
                background-size:cover;
            }
            .item-6 {
                width: 100%;
                height: 515px;
                background-image: url(../images/desktop/image-photography.jpg);
                background-size:cover;
            }
        }


        .card__image{
            display: none;
        }

        .card__image-desktop{
            width: 100%;
            display: block;
        }

        .card__title, .card__descriptions, .card__link {
            margin: 0 3rem;
        }

        .card__title {
            font-size: 1.9rem;
        }

        .card__descriptions {
            font-size: .9rem;
        }
        .card__link {
            font-size: 1rem;
        }
    }
}