.card {
    text-align: center;
}

.card__image {
    width: 100%;
}

.card__title {
    padding: 2rem;
    font-family: $fraunces;
    font-weight: 900;
    font-size: 2rem;
    
}

.card__descriptions {
    padding: 0 2rem;
    font-family: $barlow;
    color: $dark-grayish-blue;
    line-height: 1.8rem;
    font-size: 1rem;
}

.card__link {
    display: block;
    padding: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $fraunces;
    font-weight: 900;
    cursor: pointer;
        span {
            padding: 0 .5rem;
            //box-shadow: 0 10px 10px -3px yellow;
            border-bottom: 8px solid yellow;
        }
}