.client {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        text-transform: uppercase;
        color: $grayish-blue;
        font-family: $fraunces;
        font-size: 1rem;
        text-align: center;
        padding: 4rem 0;
        letter-spacing: 5px;
    }

    .client__testimonials {
        text-align: center;
        padding: 2rem;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        p {
            padding: 2rem 0;
            font-family: $barlow;
            color: $dark-grayish-blue;
        }

        h3 {
            font-family: $fraunces;
            padding: 1rem;
        }
        
        h4 {
            font-family: $barlow;
            color: $grayish-blue;
            font-size: .9rem;
        }
    }    
}

@media screen and (min-width: 1024px) {
    .client {
        display: block;
        .client__content {
            display: flex;
            padding-bottom: 3rem;
        }

        h2{
            width: 100%;

        }
    }
}