.footer {
    background: $dark-moderate;
    text-align: center;
    padding: 4rem 0;
    

    .footer__link {

        ul {
            display: flex;
            justify-content: center;
            gap: 50px;
            padding: 2rem 0; 

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-family: $barlow;
                    color: $dark-desaturated;
    
                }
                
            }
        }
    }

    .footer__midia {
        
        ul {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 2rem 0;

            li {
                list-style: none;
            }
        }
    }
}