.header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.header__button{
    border: none;
    background: transparent;
}

.header__menu{
    display: none;

}
.header__link {
    display: inline;
}
    

@media screen and (min-width:1024px) {
    .header {
        background: transparent;

        .header__button{
            display: none;
        }
        
        .header__menu{
            display: block;
            
            .header__link {
                display: inline;
                color: $white;
                padding: 1rem;
                font-family: $barlow;
            }
            .contact{
                background: $white;
                color: $very-dark;
                text-transform: uppercase;
                border-radius: 25px;
            }
        }
    }       
}