.main {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    text-align: center;

    div {
        position: relative;
        top: 150px;
        img {
            margin-top: 2rem;
        }
    }
    
};

.main__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;

};

